---
---

<head>
    <meta charset = "utf-8" name="viewport" content="width=device-width,initial-scale=1">
    <title> {{ page.title }}</title>
    <link rel="stylesheet" href="{{ site.baseurl }}/styles.css">
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Kaushan Script' rel='stylesheet'>
</head>
<body>
    <div class="container">
        <nav>
            <ul>
                <li><a href="{{ site.baseurl }}/">Gallery Index</a></li> 
                <li><a href="{{ site.baseurl }}/individual-men">Individual Men</a></li> 
                <li><a href="{{ site.baseurl }}/individual-women">Individual Women</a></li>
                <li><a href="{{ site.baseurl }}/pair-skating">Pair Skating</a></li>
                <li><a href="{{ site.baseurl }}/ice-dancing">Ice Dancing</a></li>
                <li><a href="{{ site.baseurl }}/search">Search</a></li>
            </ul>
        </nav>
    </div>

    <div class="container">
       <div class="pagelayout">   
        <div class="table">
            <img src = "{{ page. img-url}}">
            <ul>
            <li><h2>{{ page. name }}</h2> </li>    
            <li><p>Birth: {{ page. birth }}</p></li>
            <li><p>Place of origin: {{ page. place-of-origin }}</p></li>
                <li><p>Olympics: {{ page. Olympics }}</p></li>
                <li><p>Ranking: {{ page. Ranking }}</p></li>
                <li><p class="description"> Key Awards: {{ page. Key-Awards }}</p></li>
                <li><p class="description">Personalities: {{ page. Personalities }}</p></li>
            </ul>
        </div>
    
    <div class="video">
    <p>{{ page. video-url }}</p>
    </div>
        
    </div>
    
    <footer>
		<p>Group 5, Web Learners in the Cultural Web</p>
	</footer>
</body>

